<div class="form_ochka">
<%= form_tag output_url, :method => "post" do %>
    <p>Enter number:</p>
    <p><input type="text" name="num" required></p>
    <p><input id="butt" type="submit" name="submit" value="Submit" align="middle"></p>
<% end %>
<%= link_to 'Exit', session_logout_path %>
</div>